/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: inspiration;
    src: url('./assets/fonts/Inspiration-Regular.ttf');
}